<div class="container mt-2 custom-container">
    <h1>Set value and computed in Signals</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Full Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{firstName()}}</td>
            <td>{{lastName()}}</td>
            <td>{{fullName()}}</td>
          </tr>
          
        </tbody>
      </table>
      <div class="d-flex">
        <div class="col-md-3 d-flex mb-3">
            <input type="text" class="form-control"  #fName placeholder="first name"  >
            <button (click) = "changeFirstName(fName.value)" class="btn btn-success" type="button">Change</button>
        </div>
        <div class="col-md-3 ms-3 d-flex mb-3">
            <input type="text" class="form-control" placeholder="last name" #lName >
            <button (click)="changeLastName(lName.value)" class="btn btn-success" type="button">Change</button>
          </div>
      </div>



      <!-- computed with numbers  -->
      <br><br> <br><br>
      <h1>Set value and computed in Signals with Numbers</h1>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">X</th>
              <th scope="col">Y</th>
              <th scope="col">Z</th>
          
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{x()}}</td>
              <td>{{y()}}</td>
              <td>{{totalValue()}} </td>
            </tr>
            
          </tbody>
        </table>
        <div class="d-flex">
          <div class="col-md-3 d-flex mb-3">
              <input type="number" class="form-control"  placeholder="x"   #xValue>
              <button  class="btn btn-success" (click)="updateX(xValue.value)" type="button">Change </button>
          </div>
          <div class="col-md-3 ms-3 d-flex mb-3">
              <input type="number" class="form-control" placeholder="y"  #yValue>
              <button  class="btn btn-success" (click)="updateY(yValue.value)" type="button">Change</button>
            </div>
        </div>

  <!-- update value of signals.. -->
        <br><br> <br><br>
        <h1>Update signal value based on its current value</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">(-)</th>
                <th scope="col">{{qty()}}</th>
                <th scope="col">(+)</th>
            
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <button class="btn btn-danger" (click)="onDecrement()">-</button>
                </td>
                <td></td>
                <td> 
                    <button class="btn btn-success" (click)="onIncrement()">+</button>
                </td>
              </tr>
              
            </tbody>
          </table>

<!-- Mutate : used to modify the Array or Object Values... -->
<br><br> <br><br>
<h1>Mutate signal value based on its current value </h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
        <!-- ngFor Loop Syntax with Index Value -->
        @for (item of employeeArray(); track item.name;let index=$index) {
            <tr>  
        <td>{{index+1}}</td> 
        <td>{{item.name}}</td>
        <td>{{item.position}}</td>
        <td>{{item.department}}</td>
            </tr>
      }
 
      
      
    </tbody>
  </table>
 <!-- Form Fields to Add Employee -->
 @if (display) {
    <form  class="d-flex w-100 gap-3" [formGroup]="employeeForm" >
        <div class="mb-3 w-100">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3 w-100">
          <label for="position" class="form-label">Position</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="position">
        </div>
        <div class="mb-3 w-100">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="department">
          </div>
      </form>
      <button class="btn btn-success" (click)="getEmployeeDetails()">Add Employee Data</button>
   
    <button class="btn btn-success ml-2" (click)="resetForm()">cancel</button>
  
 }
  
@if(!display){
  <button class="btn btn-success"  (click)="showEmployeeFields()">+ Add Employee</button>
}
  
  </div>


