<router-outlet></router-outlet>
<!-- <div class="container-fluid mt-4">
  <table class="table-stripped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Complete name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{fName()}}</td>
          <td>{{lName()}}</td>
          <td>{{fullName()}}</td> -->
        <!-- </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <div class="col-md-3 d-flex mb-3">
          <input type="text" class="form-control" [value]="fName()" #firstName placeholder="first name"  >
          <button (click) = "changeFirstName(firstName.value)" class="btn btn-outline-secondary" type="button">Change</button>
      </div>
      <div class="col-md-3 ms-3 d-flex mb-3">
          <input type="text" class="form-control" placeholder="last name" #lastName >
          <button (click)="changeLastName(lastName.value)" class="btn btn-outline-secondary" type="button">Change</button>
        </div>
    </div> -->
<!-- </div> --> 